<!DOCTYPE html>
<html lang="en" ng-app="svstApp">
<head>
    <meta charset="UTF-8">
    <title>Secure Vote Stress Test</title>
    <link type="text/css" rel="stylesheet" href="basscss.min.css">
    <link type="text/css" rel="stylesheet" href="LatoLatin/latolatinfonts.css">
    <link type="text/css" rel="stylesheet" href="main.css">
    <link type="text/css" rel="stylesheet" href="svst.css">
    <link type="text/css" rel="stylesheet" href="odometer-theme-default.css">
</head>
<body ng-controller="SvstController as ctrl" class="bg">

<div id="fireworks"></div>
<div class="container relative white">
    <div class="col-right p1 h4 mt2 center">
        <span ng-if="ctrl.testStarted">Time Running:<br>
        {{ ctrl.timeRunning(); }}</span>
        <span ng-if="!ctrl.testStarted">Starting In:<br>
        {{ ctrl.startingIn(); }}</span>
    </div>
    <div class="col-left">
        <p class="h2 sm-h3">
            Flux + XO.1 present:
        </p>            
        <p class="h1 sm-h3">
            The Secure.Vote Stress Test
        </p>
    </div>
    <div class="col-right py2 mt3">
        <div id="voteVelocityGraph" style="height: 300px; max-width: 400px;"></div>
        <div class="mt4 h2 red" ng-if="ctrl.alert.alert && ctrl.showAlert">
            <p>ALERT:<br>{{ ctrl.alert.msg }}<span class="close" ng-click="ctrl.showAlert = false;">&times;</span></p>
        </div>
    </div>
    <div class="mt4 h3">
        <p>
            Votes per Minute: <ng-odometer value="ctrl.vpm"></ng-odometer> <a class="btn accent" id="vpm">(?)</a>
        </p>
        <p>
            Total Votes: <ng-odometer value="ctrl.getinfo.n_votes"></ng-odometer>
        </p>
        <p>
            Total Pallets: <ng-odometer value="ctrl.getinfo.n_pallets"></ng-odometer> <a class="btn accent" id="pallets">(?)</a>
        </p>
    </div>

    <div class="nav h3">
        <a class="btn accent" id="flux">Flux</a>
        <a class="btn accent" id="xo1">XO.1</a>
        <a class="btn accent" id="secure.vote">Secure.Vote</a>
        <a class="btn accent" id="faq">FAQ</a><br>
        <a class="btn accent" target="_blank" rel="noopener noreferrer" href="https://reddit.com/r/bitcoin">Reddit Discussion</a>
        <a class="btn accent" id="jobs">Jobs</a>
        <a class="btn accent" id="fund">Fund Us</a>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content black" id="flux-content">
        <div class="center">
            <img src="flux-mark.svg" alt="FLUX LOGO" class="width-8rem">
            <br>
            <img src="flux-text-logo.svg" alt="FLUX LOGO" class="width-8rem">
        </div>
        <!-- TODO: content for Flux -->
        <p>Flux is a gateway that people can use, to participate directly in parliament, making the need for trust in elected officials a thing of the past. Elected Flux Representatives and Senators give up their autonomy and use their votes in line with the outcomes produced by the Flux ecosystem; an ecosystem comprised of ordinary people like you.</p>
        <p class="center h4"><a href="https://voteflux.org" target="_blank">Learn More</a></p>
      </div>
      <div class="modal-content black" id="xo1-content">
        <p class="h2 center">XO.<span class="blue">1</span></p>
        <!-- TODO: content for XO.1 -->
        <p>XO.1 is a tech startup founded in Sydney by Max Kaye and Nathan Spataro focused on developing Secure.Vote, the worlds first secure and highly scalable online voting system.</p>
        <p class="center h4"><a href="https://xo1.io" target="_blank">Learn More</a></p>
      </div>
      <div class="modal-content black" id="secure.vote-content">
        <p class="h2 center">Secure.<span class="blue">V</span>ote</p>
        <!-- TODO: content for Secure.Vote -->
        <p>Secure.Vote is the first secure and highly scalable online voting system in the world. Run an election in your community group, your company or for your country, all for just 99 cents per vote.</p>
        <p class="center h4"><a href="https://xo1.io/secure-vote" target="_blank">Learn More</a></p>
      </div>
      <div class="modal-content black" id="faq-content">
        <p class="h2 center">About the Stress Test</p>
        <!-- TODO: content for FAQ -->
        <p>FAQS and Stuff, this is why you should do stuff.</p>
      </div>
      <div class="modal-content black" id="vpm-content">
        <!-- TODO: Max - content for (?) Votes per Minute -->
        <p>What are Votes Per minute. They are the number of votes counted per minute. I guess?</p>
      </div>
      <div class="modal-content black" id="pallets-content">
        <!-- TODO: Max - content for (?) Total Pallets -->
        <p>Pallet? Something that stores boxes in the back of a truck?</p>
      </div>

    </div>
</div>

<script src="jquery-1.12.0.min.js"></script>
<script src="lodash.core.js"></script>
<script src="angular.js"></script>
<script src="angular-odometer.min.js"></script>  <!-- https://github.com/bahaaldine/angular-odometer -->
<script src="odometer.min.js"></script> <!-- http://github.hubspot.com/odometer/ -->
<script src="plotly-latest.min.js"></script>
<!-- TweenLite -->
<script src="greensock-js/TweenLite.min.js"></script>
<script src="greensock-js/CSSPlugin.min.js"></script>
<script src="greensock-js/EasePack.min.js"></script>
<!--  -->
<script src="utils.js"></script>
<script src="fireworks.js"></script>
<script src="tres-comas.js"></script>
<script src="svst.js"></script>
<script src="main.js"></script>

</body>
</html>
