.height-100 {
	height:100%;
}

.h1 {
	font-family: "LatoLatinWebBlack";
	font-size: 3.5em;
}

.h2 {
	font-family: "LatoLatinWebLight";
	font-size: 2.5em;
}

.h3 {
	font-family: "LatoLatinWeb";
	font-size: 2.2em;
}

.h4 {
	font-family: "LatoLatinWebLight";
	font-size: 1.7em;
}

.bg {
	background-color: #21212b;
}

.nav {
	margin-top: 150px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}